@font-face {
    font-family: 'Nanum Barun Gothic';
            src: local("Nanum Barun Gothic"),
                  url("../fonts/NanumBarunGothic.eot") format("eot"), 
                        url("../fonts/NanumBarunGothic.woff") format("woff"),
                        url("../fonts/NanumBarunGothic.ttf") format("truetype");
}
@font-face{
    font-family: 'Nanum Barun Gothic Bold';
            src: local("Nanum Barun Gothic Bold"),
                  url("../fonts/NanumBarunGothicBold.eot") format("eot"),
                        url("../fonts/NanumBarunGothicBold.woff") format("woff"),
                        url("../fonts/NanumBarunGothicBold.ttf") format("truetype");
}

@font-face{
    font-family: 'Nanum Barun Gothic Light';
            src: local("Nanum Barun Gothic Light"),
                  url("../fonts/NanumBarunGothicLight.eot") format("eot"),
                        url("../fonts/NanumBarunGothicLight.woff") format("woff"),
                        url("../fonts/NanumBarunGothicLight.ttf") format("truetype");
}


@font-face{
    font-family: 'Nanum Barun Gothic UltraLight';
            src: local("Nanum Barun Gothic UltraLight"),
                  url("../fonts/NanumBarunGothicUltraLight.eot") format("eot"),
                        url("../fonts/NanumBarunGothicUltraLight.woff") format("woff"),
                        url("../fonts/NanumBarunGothicUltraLight.ttf") format("truetype");
}

