body {background:#1e1e24;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.login_top_logo {width:100%; text-align: center; margin-top:105px;}
.login_top_logo img {width:735px;}
.login_main_box {width:100%; max-width:1200px; margin:0 auto;}
.login_email_box, .login_checking_box {width:500px; margin:0 auto; padding-top:150px;}
.login_checking_box {display: none;}
.login_input {width:500px; height:65px; background:transparent; color:#FFF; border-bottom:1px solid #FFF; margin-top:30px; font-size:18px; padding-left:20px; box-sizing: border-box;}
.login_btn {width:500px; height:65px; background:#039be6; color:#FFF; text-align: center; margin-top:60px; font-size:25px; line-height: 65px; border-radius: 8px; cursor: pointer; transition: all 150ms linear;}
.receive_btn {width:500px; height:65px; background:#039be6; color:#FFF; text-align: center; margin-top:60px; font-size:25px; line-height: 65px; border-radius: 8px; cursor: pointer; transition: all 150ms linear;}
.login_menu {width:500px; margin:0 auto; margin-top:45px;  margin-bottom:120px; position: relative; overflow: hidden;}
.login_menu p.signup_btn {
    height:35px;
    width:80px;
    float:right;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-size:20px;
    color:#aaa;
    padding-top:5px;
    transition: all 150ms linear; ;
    }
.login_menu div.signup_btn_bar {
    background:#FFF;
    height:1px;
    width:0px;
    position: absolute;
    bottom:0;
    left: 420px;
    transition: all 150ms ease-out;

}
.receive_btn:hover, .login_btn:hover  {
    background:#0e70a1;
}


.footer {background: #1e1e24;}
.footer_wrap {
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.bottom_logo_box {
    width:320px;
    margin:0 auto;
    padding-top:40px;
}
.copyright {
    font-size: 15px;
    font-family: 'Nanum barun Gothic Light';
    color:#ccc;
    padding-top:10px;
    text-align: center;
}

.bottom_nav_box {
    float:right;
    padding:40px 0 30px 0;
}
.bottom_nav_box > ul:first-child {height:185px;}
.bottom_nav_box > ul > li {
    height:30px;
    line-height: 30px;
    margin-right:50px;
     font-size:16px;
     float:left;
    }
.bottom_nav_box > ul > li:last-child {margin-right: 0;}
.bottom_nav_box > ul > li > a {color:#ddd;}
.bottom_nav_box > ul > li > ul > li {padding-top:10px;}
.bottom_nav_box > ul > li > ul > li > a {
    font-family:'Nanum Barun Gothic Light';
    font-size:15px;
    color:#aaa;
}

.top_navi_btn {
    position: fixed;
    right:50px;
    bottom:50px;
    z-index: 100;
    width:62px;
    height:59px;
    background:#039be6;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition-duration: 200ms;
}
.top_navi_btn.active {
    opacity: 1;
}