.sub_hero_area {
    background:#039be6 url('../img/bg_02.png') center/cover no-repeat; 
}
.table_box {width:100%; margin-bottom:50px;}
.table_title_box {overflow: hidden;  padding:45px 0 25px 0;}
.sub_cont_title_02 {font-size:30px; float:left; padding-right: 15px; font-weight: bold; color:#000;}

.sub_cont_title_03 {font-size:30px; padding-right: 15px; font-weight: bold; color:#000; padding-top:45px;}

.box_01 {float: left; background:linear-gradient(45deg, #1d91d4 0, #48dfff 100%); display: inline-block; padding: 0 8px; color:#FFF; font-size: 20px; border-radius: 5px; height:35px; line-height: 35px; text-align: center;}
.box_03 {float: left; background:linear-gradient(45deg, #5401b1 0, #c83eff 100%); display: inline-block; padding: 0 8px; color:#FFF; font-size: 20px; border-radius: 5px; height:35px; line-height: 35px; text-align: center;}
.tb_004 {width:100%; border-radius: 8px 8px 0 0; overflow: hidden;} 
.tb_004 th {color:#fff; box-sizing: border-box; background:#039be6; border: 1px solid #bddbea; padding:10px 0; text-align: center;}
.tb_004 td {color:#333; background:#fff; border: 1px solid #ccc; padding:10px 0; text-align: center;}

.tb_005 {width:100%; border-radius: 8px 8px 0 0; overflow: hidden;} 
.tb_005 th {color:#fff; box-sizing: border-box; background:#ff7300; border: 1px solid #e8ce95; padding:10px 0; text-align: center;}
.tb_005 td {color:#333; background:#fff; border: 1px solid #ccc; padding:10px 0; text-align: center;}

.tb_006 {width:100%; border-radius: 8px 8px 0 0; overflow: hidden;} 
.tb_006 th {color:#fff; box-sizing: border-box; background:#6e03e6; border: 1px solid #cdb8e4; padding:10px 0; text-align: center;}
.tb_006 td {color:#333; background:#fff; border: 1px solid #ccc; padding:10px 0; text-align: center;}

table tr td:nth-child(2) {font-weight: bold; color: #e20321;}

.intro_top_box {width:100%; border: 1px solid #ccc; background-color: #FFF; padding:50px; box-sizing: border-box; margin-top:25px; margin-bottom: 50px;}
.sub_text_title {font-size:22px; color:#000; margin-bottom:10px;}
.sub_text_title span {color:#039be6; font-weight:bold;}
.sub_text_script {font-size:18px; color:#333; margin-bottom:10px; line-height:1.5; word-break: break-all;}
.intro_top_box > .sub_text_script:last-child {margin-top:0; margin-bottom:0;}
.charge_box .table_box:last-child {margin-bottom: 0;}

.charge_box  {width:100%;}
.sub_cont_box > .intro_box {width: 100%; padding-top:100px;}

.main_cont_01 {overflow: hidden;}
.main_cont_02 {padding-bottom:150px;}
.title_01 {
    font-size:40px;
    color:#333;
    font-weight: bold;
}
.title_01 span {
    color:rgba(0,0,0,0.2);
    font-size:25px;
    font-weight: normal;
    font-family: 'Nanum Barun Gothic';
    padding-left:20px;
    vertical-align: 0px;
}

.cont_box_01{
    width:48.5%;
    margin-right:3%;
    float:left;
}
.main_cont_box .cont_box_01:last-child {
    margin-right:0;
}
.title_02 {
    font-size:30px;
    font-weight: bold;
    color:#333;
}

.title_02 img {
    width:40px;
    vertical-align: bottom;
    margin-left:20px;
}
.main_iocn_02 img {
    width:45px;
    vertical-align: -2px;
}
.main_text_01 {
    margin-top:50px;
    font-size:18px;
    letter-spacing: 0;
    line-height:25px;
}

/* 2021_01_12_bluesnow9 */
.sub_txt_line {
    color:#039be6; line-height:1.7; font-size:18px;
}
.txt_table_box {
    margin:30px 0 0 0;
}
.txt_table_box, .price_table_01, .price_table_04 {
    border-radius: 10px 10px 0 0;
    overflow:hidden;
}

.txt_table_box, .price_table_01, .price_table_02, .price_table_03, .price_table_04 {
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
}
.txt_table_box th,
.price_table_01 th,
.price_table_02 th,
.price_table_03 th,
.price_table_04 th {
    padding:20px 5px;
    font-weight: normal;
    border:1px solid rgba(200,200,200,0.5);
    color: rgba(255,255,255,1);
    background:rgba(0,88,155,1);
    font-size:18px;
}

.price_table_01 tr td,
.price_table_02 tr td,
.price_table_03 tr td {
    padding:0 5px;
    height:50px;
    border:1px solid rgba(200,200,200,1);
    box-sizing: border-box;
    vertical-align: middle;
}

.price_table_03 tr:nth-child(1) td,
.price_table_03 tr:nth-child(2) td,
.price_table_03 tr:nth-child(1) td:nth-child(1),
.price_table_03 tr:nth-child(2) td:nth-child(1),
.price_table_03 tr:nth-child(2) td:nth-child(2),
.price_table_03 tr:nth-child(2) td:nth-child(3),
.price_table_03 tr:nth-child(2) td:nth-child(4) {
    background:none;
    border:none;
    font-size:0px;
    padding: 0;
    height:1px;
}

.txt_table_box tr td {
    padding:20px 10px;
    height:50px;
    border:1px solid rgba(200,200,200,1);
    box-sizing: border-box;
    vertical-align: middle;
}
.price_table_04 tr td {
    padding:0 5px;
    height:70px;
    border:1px solid rgba(200,200,200,1);
}
.txt_table_box tr td:nth-child(1).table_txt_blue {
    width:30%;
    color:rgba(3,155,230,1);
    text-align:center;
    font-size: 18px;
}
.txt_table_box tr td:nth-child(2) {
    font-weight:normal;
    width:70%;
    color:#000000;
    font-size: 18px;
}
.txt_box_point {
    margin:30px 0 0 0;
    padding:30px;
    color:rgba(3,155,230,1);
    line-height:1.7;
    font-size:18px;
    border-radius: 20px;
    word-break: break-all;
    background: rgb(248,248,248);
    border:1px solid rgba(210,210,210,1);
}
.txt_box_point b {
    font-weight: bold;
    margin: 0 10px 0 10px;
}
.txt_ul {
    margin:30px 0 0 0;
    padding: 30px;
    border: 1px solid rgba(210,210,210,1);
    border-radius: 20px;
}
.txt_ul li {
    font-size: 18px;
    margin: 10px 0 10px 10px;
}
.txt_ul li.txt_head {
    margin-left:0px;
    margin-bottom:20px;
    font-size:22px;
    color:rgba(3,155,230,1);
}
.txt_ul li.txt_script {
    margin:20px 0 0 20px;
    font-size:14px;
    color:rgba(0,0,0,0.5);
}
.txt_ul li.txt_script:last-child {
    margin:10px 0 0 20px;
}
.txt_ul li.txt_script:nth-child(1) { margin:20px 0 0 20px;
}
.txt_ul li:nth-child(1) {
    margin-top:0;
}
.txt_ul li:last-child {
    margin-bottom:0;
}
.txt_ul li.li_blank {
    height:30px;
    margin:0px;
}
.txt_ul li span {
    display:inline-flex;
    width:45%;
}

.btn_ul {
    position:relative;
    margin: 40px 0 0 0;
    border: 1px solid rgba(210,210,210,1);
    border-radius: 20px;
    padding: 30px;
}
.btn_ul span {
    display:block;
    margin: 10px 0 0 10px;
    font-size: 18px;
}
.btn_ul span.txt_head {
    margin-left:0px;
    margin:0 0 20px 0;
    font-size:22px;
    color:rgba(3,155,230,1);
}
.btn_ul a {
    position: absolute;
    bottom:20px;
    right:20px;
    width: 200px;
    text-align:center;
    display:block;
    background:rgba(0,160,176,1);
    padding: 20px 0;
    color:#ffffff;
    border-radius: 30px;
}

.price_table_01,
.price_table_03,
.price_table_04 {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.price_table_01 th {
    text-align: center;
    vertical-align: middle;
}
.price_table_01 th:nth-child(1) {width:20%;}
.price_table_01 th:nth-child(2) {width:15%;}
.price_table_01 th:nth-child(3) {width:15%;}
.price_table_01 th:nth-child(4) {width:15%;}
.price_table_01 th:nth-child(5) {width:15%;}
.price_table_01 th:nth-child(6) {width:15%;}
.price_table_01 th:nth-child(7) {width:20%;}
.price_table_01 td,
.price_table_02 td,
.price_table_03 td,
.price_table_04 td {
    text-align: center;
    vertical-align: middle;
    color: rgba(0,0,0,0.8);
}
.price_table_01 th span {
    font-size:14px;
    line-height:2;
}
.price_table_01 tr:nth-child(3) td:nth-child(1) { width:8%; }
.price_table_01 tr:nth-child(3) td:nth-child(2) { width:12%; }
table.price_table_01 tr td:nth-child(2),
table.price_table_02 tr td:nth-child(2),
table.price_table_03 tr td:nth-child(2),
table.price_table_04 tr td:nth-child(2) {
    font-weight:normal;
    color: rgba(0,0,0,0.8);
}
.price_table_01 tr td:nth-child(1),
.price_table_01 tr:nth-child(3) td:nth-child(2),
.price_table_01 tr:nth-child(7) td:nth-child(2),
.price_table_01 tr:nth-child(9) td:nth-child(2),
.price_table_03 tr td:nth-child(1) {
    color:rgba(100,100,100,1);
    background:rgba(200,200,200,0.1);
}
.price_table_03 tr:nth-child(2) td
.price_table_03 tr:nth-child(2) td:nth-child(2) {
    background:#fff;
    border:none;
    color:#fff;
}
.txt_sub_02 {
    margin:10px 0 100px 0;
    font-size:14px;
    color:rgba(0,0,0,0.5);
}
.txt_sub_03 {
    margin:100px 0 10px 0;
    font-size:14px;
    color:rgba(0,0,0,0.5);
    text-align:right;
}
.price_table_02 tr td:nth-child(odd) {
    width:15%;
    color:rgba(255,255,255,1);
    background:rgba(0,88,155,1);
}
.price_table_02 tr td:nth-child(even) {
    width:35%;
}
table tr td.td_form {
    position:relative;
    padding:0px;
}
.td_form input {
    float:left;
    width:calc(100% - 71px);
    height:50px;
    padding:0 10px;
    font-size:18px;
    color:#646464;
    border:none;
    box-sizing:border-box;
}
.td_form button {
    float:right;
    height:50px;
    width:71px;
    border:none;
    border-left:none;
    color:#fff;
    background:rgba(0,160,176,1);
    box-sizing:border-box;
    cursor: pointer;
    font-size:16px;
}
.price_table_03 tr td {
    width:20%;
}
.price_table_03 tr:nth-child(3) td:nth-child(2),
.price_table_03 tr:nth-child(3) td:nth-child(3),
.price_table_03 tr:nth-child(3) td:nth-child(4),
.price_table_03 tr:nth-child(3) td:nth-child(5) {
    color:rgba(0,88,155,1);
    font-weight:bold;
}
.price_table_03 tr:nth-child(6) td:nth-child(2),
.price_table_03 tr:nth-child(6) td:nth-child(3),
.price_table_03 tr:nth-child(6) td:nth-child(4) {
    color:rgba(3,155,230,1);
}
.price_table_03 tr:nth-child(7) td:nth-child(2),
.price_table_03 tr:nth-child(7) td:nth-child(3),
.price_table_03 tr:nth-child(7) td:nth-child(4) {
    color:rgba(0,88,155,1);
    font-weight:bold;
}

.price_table_04 th:nth-child(1) {width:20%;}
.price_table_04 th:nth-child(2) {width:60%;}
.price_table_04 th:nth-child(3) {width:20%;}
.price_table_04 td {
    line-height:1.6;
}
.txt_bold {
    font-weight:bold;
}

.default_option{
    width:100%;
    margin:auto;
    height:50px;
    border:none;
    position: relative;
    cursor: pointer;
    color:#039be6;
    box-sizing:border-box;
}
  .default_option li{
      padding: 17px 0 0 17px;
      text-align:left;
  }
  .default_option:before{
      content: "";
      position: absolute;
      top: 14px;
      right: 15px;
      width: 8px;
      height: 8px;
      border: 2px solid;
      border-color: transparent transparent #555555 #555555;
      transform: rotate(-45deg);
  }
  .select_ul{
    position: absolute;
    top:50px;
    left:0px;
    width:100%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    box-sizing:border-box;
  }
  .select_ul::-webkit-scrollbar {width:5px; background:#FFF;}
  .select_ul::-webkit-scrollbar-thumb  {background: #ccc;}
  .select_ul li{
    padding: 10px 20px;
    cursor: pointer;
  }
  .select_ul li:nth-child(odd){
      border-bottom:1px dotted rgba(0,0,0,0.2);
  }

  .select_ul li:hover{
    background: #e4f6ff;
  }
  .option{
    display: flex;
    align-items: center;
  }

  .sub_text_title_point {
    margin: 40px 50px;
    padding: 20px;
    text-align:center;
    background: rgba(0,160,176,1);
    color:#ffffff;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
  .sub_text_title_point span {font-size:20px;color:#ffffff;}


/* POPUP Style */
.product_popup_container {  }
.pro_popup_head {
    padding:42px 0;
    background:#039be6 url('../img/bg_02.png') 0 0 repeat-x;
    background-size:100% 100%;
    text-align:center;
}
.pro_popup_head p {
    font-size:40px;
    color: rgba(255,255,255,1);
}
.pro_popup_body {
    padding: 0 100px 0 50px;
    text-align:center;
}

.pro_popup_body .my_info_check_btn {
    width:200px;
    height:auto;
    margin:45px 0 0 0;
}
.pro_popup_body .my_info_input_box > div > label, .my_info_input_box > div > p {
    width: 30%;
}
.pro_popup_body .my_info_input_01 {
    width: 70%;
}
.price_result_01 tr:nth-child(1) td:nth-child(1),
.price_result_02 tr:nth-child(1) td:nth-child(1),
.price_result_03 tr:nth-child(1) td:nth-child(1),
.price_result_04 tr:nth-child(1) td:nth-child(1),
.price_result_01 tr:nth-child(2) td:nth-child(1),
.price_result_02 tr:nth-child(2) td:nth-child(1),
.price_result_03 tr:nth-child(2) td:nth-child(1),
.price_result_04 tr:nth-child(2) td:nth-child(1) {
    border:none;
    background:none;
}
.price_result_01 tr:nth-child(1) td,
.price_result_02 tr:nth-child(1) td,
.price_result_03 tr:nth-child(1) td,
.price_result_04 tr:nth-child(1) td {
    border:none;
    background:none;
    height:10px;
    padding:0px;
    border-radius: 10px 10px 0 0;
}
.price_result_01 tr:nth-child(1) td:nth-child(2),
.price_result_02 tr:nth-child(1) td:nth-child(3),
.price_result_03 tr:nth-child(1) td:nth-child(4),
.price_result_04 tr:nth-child(1) td:nth-child(5) {
    position:relative;
    height:10px!important;
    background: rgba(0,160,176,1);
}
.price_result_01 tr:nth-child(1) td:nth-child(2)::before,
.price_result_02 tr:nth-child(1) td:nth-child(3)::before,
.price_result_03 tr:nth-child(1) td:nth-child(4)::before,
.price_result_04 tr:nth-child(1) td:nth-child(5)::before {
    content:"";
    position:absolute;
    left:-1px;
    bottom:0px;
    width:10px!important;
    height:10px!important;
    background: rgba(0,160,176,1);
    border-radius:10px 0 0 0;
}
.price_result_01 tr:nth-child(1) td:nth-child(2)::after,
.price_result_02 tr:nth-child(1) td:nth-child(3)::after,
.price_result_03 tr:nth-child(1) td:nth-child(4)::after,
.price_result_04 tr:nth-child(1) td:nth-child(5)::after {
    content:"";
    position:absolute;
    right:-2px;
    bottom:0px;
    width:10px!important;
    height:10px!important;
    background: rgba(0,160,176,1);
    border-radius:0 10px 0 0;
}
.price_result_01 tr:nth-child(2) td,
.price_result_02 tr:nth-child(2) td,
.price_result_03 tr:nth-child(2) td,
.price_result_04 tr:nth-child(2) td {
    border:none;
    padding:0px;
}
.price_result_01 tr:nth-child(2) td:nth-child(2),
.price_result_02 tr:nth-child(2) td:nth-child(3),
.price_result_03 tr:nth-child(2) td:nth-child(4),
.price_result_04 tr:nth-child(2) td:nth-child(5) {border-top:none;}

.price_result_01 tr:nth-child(2) td:nth-child(2) {position:relative; background: rgba(0,160,176,1); color:#ffffff;  border-bottom:1px solid rgba(0,160,176,1); font-size:20px; padding:0 0 7px 0;}
.price_result_01 tr:nth-child(2) td:nth-child(2),
.price_result_01 tr:nth-child(3) td:nth-child(2),
.price_result_01 tr:nth-child(4) td:nth-child(2),
.price_result_01 tr:nth-child(5) td:nth-child(2),
.price_result_01 tr:nth-child(6) td:nth-child(2),
.price_result_01 tr:nth-child(7) td:nth-child(2) {border-left:3px solid rgba(0,160,176,1); border-right:3px solid rgba(0,160,176,1);}
.price_result_01 tr:nth-child(7) td:nth-child(2) {border-bottom:3px solid rgba(0,160,176,1);}

.price_result_02 tr:nth-child(2) td:nth-child(3) {position:relative; background: rgba(0,160,176,1); color:#ffffff;  border-bottom:1px solid rgba(0,160,176,1); font-size:20px; padding:0 0 7px 0;}
.price_result_02 tr:nth-child(2) td:nth-child(3),
.price_result_02 tr:nth-child(3) td:nth-child(3),
.price_result_02 tr:nth-child(4) td:nth-child(3),
.price_result_02 tr:nth-child(5) td:nth-child(3),
.price_result_02 tr:nth-child(6) td:nth-child(3),
.price_result_02 tr:nth-child(7) td:nth-child(3) {border-left:3px solid rgba(0,160,176,1); border-right:3px solid rgba(0,160,176,1);}
.price_result_02 tr:nth-child(7) td:nth-child(3) {border-bottom:3px solid rgba(0,160,176,1);}


.price_result_03 tr:nth-child(2) td:nth-child(4) {position:relative; background: rgba(0,160,176,1); color:#ffffff;  border-bottom:1px solid rgba(0,160,176,1); font-size:20px; padding:0 0 7px 0;}
.price_result_03 tr:nth-child(2) td:nth-child(4),
.price_result_03 tr:nth-child(3) td:nth-child(4),
.price_result_03 tr:nth-child(4) td:nth-child(4),
.price_result_03 tr:nth-child(5) td:nth-child(4),
.price_result_03 tr:nth-child(6) td:nth-child(4),
.price_result_03 tr:nth-child(7) td:nth-child(4),
.price_result_03 tr:nth-child(8) td:nth-child(4) {border-left:3px solid rgba(0,160,176,1); border-right:3px solid rgba(0,160,176,1);}
.price_result_03 tr:nth-child(7) td:nth-child(4) {border-bottom:3px solid rgba(0,160,176,1);}

.price_result_04 tr:nth-child(2) td:nth-child(5) {position:relative; background: rgba(0,160,176,1); color:#ffffff;  border-bottom:1px solid rgba(0,160,176,1); font-size:20px; padding:0 0 7px 0;}
.price_result_04 tr:nth-child(2) td:nth-child(5),
.price_result_04 tr:nth-child(3) td:nth-child(5),
.price_result_04 tr:nth-child(4) td:nth-child(5),
.price_result_04 tr:nth-child(5) td:nth-child(5),
.price_result_04 tr:nth-child(6) td:nth-child(5),
.price_result_04 tr:nth-child(7) td:nth-child(5) {border-left:3px solid rgba(0,160,176,1); border-right:3px solid rgba(0,160,176,1);}
.price_result_04 tr:nth-child(7) td:nth-child(5) {border-bottom:3px solid rgba(0,160,176,1);}

.price_result_01 tr:nth-child(2) td,
.price_result_02 tr:nth-child(2) td,
.price_result_03 tr:nth-child(2) td,
.price_result_04 tr:nth-child(2) td {font-size:0px;height:30px;}

.custom-select {position: relative; width:100%;}
  /*hide original SELECT element:*/
  .custom-select select {display: none;}
  .select-selected {background-color:#ffffff;color:rgba(3,155,230,1);text-align:left;}
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 8px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: #555555 #555555 transparent transparent;
    top: 11px;
    transform: rotate(-45deg);
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    color:rgba(0,0,0,0.8);
    background-color:#ffffff;
    border:1px solid rgba(0,0,0,0.5);
    z-index: 99;
  }
  .select-items div:hover {
    background:#e4f6ff;
  }
  .select-hide {display: none;}
  .select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}
  .form_sub_txt {
      width:100%;
      line-height:45px;
      margin-top:10px;
      overflow:hidden;
  }
  .my_info_input_box > div > p.form_txt_sub {
      width:70%;
      color:rgba(0,0,0,0.5);
      font-size:15px;
      padding:0px;
      text-align:left;
      line-height:1.5;
      margin-top:10px;
      margin-left:194px;
  }
