.wrap {
    padding-top:80px;
}
.top_box {
    background: #1e1e24;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 10000;
}

.top_wrap {
    width: 1200px;
    margin: 0 auto;
    height: 80px;
}

.logo_box {
    float: left;
    margin-top:27px;
}

.logo_box img {
    width: 320px;
}

.top_nav {
    float: right;
    position: relative;
    z-index: 100;
}

.top_nav > ul {
    height:80px;
    box-sizing: border-box;
}

.top_nav > ul > li {
    float: left;
    width:140px;
    margin-top:20px;
    line-height: 40px;
    height:40px;
    text-align: center;
}

.top_nav > ul > li > a {
    color: #FFF;
    font-size: 18px;
    font-family: 'Nanum Barun Gothic Light';
    display: block;
    width: 100%;
    height: 100%;
    transform: skew(0.03deg);
    transition-duration: 0.3s;
}

.top_nav > ul > li > a:hover {
    color: #039be6;

}

.top_nav > ul > li > ul {
    transition-duration: 200ms;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.top_nav > ul > li > ul > li {
    height:50px;
}
.top_nav > ul > li > ul > li > a {
    color:#999;
    height:40px;
    line-height: 40px;
    transition-duration: 0.3s;
}
.top_nav > ul > li > ul > li > a:hover {
    color: #039be6;
}
.nav_bg_box {
    opacity: 0;
    width:100%;
    height: 0px;
    position: fixed;
    top:80px;
    background: #FFF;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition-duration: 200ms;
    z-index: 1;
}
.nav_bg_box.active {opacity: 1; height: 230px;}
.top_nav > ul > li > ul.active {opacity: 1; height:auto; padding-top:40px;}
.top_login_btn {
    float:right;
    height:30px;
    padding:0 15px;
    margin-top:25px;
    background:#FFF;
}
.top_login_btn a {
    display: block;
    width:100%;
    height:30px;
    line-height: 30px;
    color:#1e1e24;
    font-weight: 600;
    font-size: 18px;
}
.member_name_01 {
    float:right;
    height:30px;
    padding:0 15px;
    margin-top:25px;
    position: relative;
}
.member_name_01 img {width:24px; margin-top:5px; cursor: pointer;}
.member_name_01 > a {
    display: block;
    width:100%;
    height:30px;
    color:#039be6;
    font-size: 18px;
    line-height: 30px;
}
.member_name_01 > ul {
    width: 120px;
    height:0px;
    background:#FFF;
    position: absolute;
    top: 40px;
    border: 1px solid #ccc;
    transition-duration: 200ms;
    opacity: 0;
    overflow: hidden;
}
.member_name_01 > ul > li {
    width:100%;
    padding-left: 15px;
    box-sizing: border-box;
    font-size:15px;
    font-weight: normal;
    height:40px;
    line-height: 40px;
}
.member_name_01 > ul > li:first-child {border-bottom:1px solid #ccc;}
.member_name_01 > ul > li:first-child p {
  line-height: 40px; color:#039be6; font-size: 18px; width:80px; overflow: hidden; text-overflow: ellipsis; word-wrap: normal; white-space: nowrap; float: left;}
.member_name_01 > ul > li:first-child span {line-height: 40px; font-size:18px; color:#039be6; float: left;}
.member_name_01 > ul > li > a{
    color:#1e1e24;
}
.member_name_01 > ul.active {
    opacity: 1;
    z-index: 1000;
    height: 160px;

}
.member_info_wrap {
    display: none;
    width: 100%;
}

.clause_01 {width:100%; padding:20px; height: 350px; overflow-y: scroll; background:#FFF; border:1px solid #ccc; box-sizing: border-box;}

.clause_01::-webkit-scrollbar {width:5px; background:#f5f5f5;}
.clause_01::-webkit-scrollbar-thumb {background: #ccc;}


.clause_check_input_box { overflow: hidden; width:100%; margin-top:20px; }
.service_box {overflow: hidden; width:280px; margin-right: 50px; float: left;}
.personaldate_box {overflow: hidden; width:280px; float: left;}

.clause_check_btn {
  box-sizing: border-box; 
  width:180px; 
  transition:all ease-in .2s; 
  height:60px;
  border:1px solid #ddd;
  background:#fff; 
  color:#ddd; 
  font-weight: bold; 
  text-align: center; 
  margin:0 auto; 
  margin-top:60px; 
  font-size:20px; 
  line-height:60px; 
  cursor: not-allowed;
}


.check_list {display:none;}

.check_list + label {
    width:20px;
    height:20px;
    border-radius: 3px;
    border: 1px solid #039be6;
    background:#FFF;
    display: block;
    float: left;
    margin-top:5px;
    box-sizing: border-box;
    cursor: pointer;
}

.check_list:checked + label {
    width:20px;
    height:20px;
    border-radius:3px;
    border: none;
    background:#039be6 url('../img/check_img.png') center/80% no-repeat;
    transition: background-color .2s;
}
.check_list:checked + label:hover {
  background-color: #0674ac;
}
.check_text {font-size:15px!important; float:left!important; width:100%!important; text-align: left!important; line-height: 30px!important;  letter-spacing: -1px; height:30px!important;}
.check_text_02 {font-size:15px; color:#666; font-weight: bold; float: left; padding-left: 15px; height:30px; line-height: 30px; }

.service_cont_box {width: 100%;}
.personaldate_cont_box {width: 100%; display: none;}

.sub_cont_title_03 {overflow:hidden; margin:45px auto; width:70%;}
.sub_cont_title_03 p {
    font-size: 20px;
    padding: 5px 0;
    font-weight: bold;
    display: block;
    width: 30%;
    margin-right: 5%;
    float: left;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background:#ccc;
    text-align: center;
    border-radius: 3px;
}
.sub_cont_title_03 p:last-child {margin-right: 0;}
.sub_cont_title_03 p.active {background:#039be6;}
.my_info_input_box {width:100%; margin-top:80px;}
.my_info_input_box > div {width:100%; line-height: 45px; margin-top:45px; overflow: hidden; }
.my_info_input_box > div > label, .my_info_input_box > div > p  {font-size:20px; font-weight: bold; color:#111; width:25%; box-sizing: border-box; padding-right: 35px; text-align: right; float:left;}
.my_info_input_box > div > p  {letter-spacing: -1px;}
.my_info_input_box > div > label.input_title_02 {line-height:23px;}

.my_info_input_01 {border:1px solid #aaa; box-sizing: border-box; float:left ; height:45px; width:75%; font-size:20px; padding-left:15px; box-sizing: border-box; }
.my_info_input_02 {border:1px solid #aaa; box-sizing: border-box; float:left;  width:21.25%; height:45px; font-size:20px; padding-left:15px; box-sizing: border-box; }
.my_info_input_02_box { float:left ; overflow: hidden;  width:75%;}
.my_info_input_02_box > p {height:45px; float:left; width:5%; text-align: center; line-height: 45px; color:#666; font-weight: bold;}
.my_info_input_02_box > .my_info_input_01 {float:left!important; width:100%!important;}
textarea.my_info_input_01 {resize: none; font-size:18px; max-height: 150px; min-height: 80px; height:auto!important; padding-top: 15px;  padding-bottom: 15px;}
.file_up_btn { font-size:18px; font-family: 'Nanum Barun Gothic'!important; margin-top:5px;}
::-webkit-file-upload-button {font-family: 'Nanum Barun Gothic'!important; margin-right: 15px; border: 1px solid #aaa; color:#333;background: #FFF; cursor: pointer; transition-duration: .2s; padding:5px; text-align: left; box-sizing: border-box; font-size:18px;}
::-webkit-file-upload-button:hover  {background:#039be6; color:#FFF; border: 1px solid #039be6;}
::-webkit-file-upload-button:focus {outline: none;}
.my_info_check_btn {
  box-sizing: border-box; 
  width:180px; 
  transition:all ease-in .2s; 
  height:60px;
  margin-top:45px;
  border:1px solid #039be6 ;
  background:#FFF; 
  color:#039be6 ; 
  font-weight: bold; 
  text-align: center;  
  font-size:20px; 
  line-height:60px;
  cursor: pointer; 
  float: right;
}
.my_info_check_btn:after {
  content: '';
  clear: both;
}
.cheak_btn:hover {
  background:#039be6;
  color:#fff;
  border-color:#039be6;
}
.my_info_check_btn:hover {
  background:#039be6;
  color:#fff;
}
.clause_wrap {
    width: 900px;
    margin: 0 auto;
}
.title_04{
    font-size:30px;
    font-weight: bold;
    color:#333;
    padding-top:65px;
}

.title_03{
    font-size:40px;
    font-weight: bold;
    color:#333;
    border-bottom:1px solid #333;
    padding-bottom:25px;
    padding-top:95px;
}

.main_cont_box {
    margin:0 auto;
    width:1200px;
    overflow: hidden;
    padding-bottom:95px;
}
.main_cont_01, .main_cont_02{
    padding-top:150px;
}
.main_cont_01 {overflow: hidden;}
.main_cont_02 {padding-bottom:150px;}

.signup_input_box {width:100%; overflow: hidden; margin-top:80px; margin-bottom:80px;}
.signup_input_box > div {float:left; width:45%; line-height: 45px; margin-top:45px; overflow: hidden; }
.signup_input_box > div:nth-child(2n-1) {margin-right: 10%;}
.signup_input_box > div:nth-child(1), .signup_input_box > div:nth-child(2) {margin-top:0;}
.signup_input_box > div > label {font-size:20px; font-weight: bold; color:#111; width:125px; float:left;}
.signup_input_01 {border:1px solid #aaa; box-sizing: border-box; float:right ; height:45px; width:calc(100% - 125px); font-size:20px; padding-left:15px; box-sizing: border-box;}
.signup_input_02 {border:1px solid #aaa; box-sizing: border-box; float:left;  width:30%; height:45px; font-size:20px; padding-left:15px; box-sizing: border-box; }
.signup_input_02_box { float:right ; overflow: hidden;  width:calc(100% - 125px);}
.signup_input_02_box > p {height:45px; float:left; width:5%; text-align: center; line-height: 45px; color:#111; font-weight: bold;}
.signup_input_02_box > .signup_input_01 {float:left!important; width:100%!important;}
.cheak_btn {
    width:200px; 
    border:1px solid #aaa; 
    height: 45px; 
    margin-top:20px; 
    text-align: center; 
    line-height: 47px; 
    font-size:15px; 
    font-weight: bold; 
    color:#111;
    float:right; 
    cursor: pointer;
    transition:all ease-in .2s; 
}
.check_text {font-size:15px!important; float:left!important; width:100%!important; text-align: left!important; line-height: 30px!important;  letter-spacing: -1px; height:30px!important;}
.btn_wrap {overflow: hidden; width:400px; float:right;}
.signup_btn_01 {width:180px; font-size:25px; float:left; height:65px; line-height: 67px; color:#FFF; text-align: center; cursor: pointer;}
.btn_wrap > .signup_btn_01:first-child {margin-right:40px;}
.footer {background: #1e1e24;}

.footer_wrap {
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.bottom_logo_box {
    width:320px;
    float: left;
    padding-top:40px;
}
.copyright {
    font-size: 15px;
    font-family: 'Nanum barun Gothic Light';
    color:#ccc;
    padding-top:10px;
    text-align: center;
}

.bottom_nav_box {
    float:right;
    padding:40px 0 30px 0;
}
.bottom_nav_box > ul:first-child {height:185px;}
.bottom_nav_box > ul > li {
    height:30px;
    line-height: 30px;
    margin-right:50px;
     font-size:16px;
     float:left;
    }
.bottom_nav_box > ul > li:last-child {margin-right: 0;}
.bottom_nav_box > ul > li > a {color:#ddd;}
.bottom_nav_box > ul > li > ul > li {padding-top:10px;}
.bottom_nav_box > ul > li > ul > li > a {
    font-family:'Nanum Barun Gothic Light';
    font-size:15px;
    color:#aaa;
}

.top_navi_btn {
    position: fixed;
    right:50px;
    bottom:50px;
    z-index: 100;
    width:62px;
    height:59px;
    background:#039be6;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition-duration: 200ms;
}
.top_navi_btn.active {
    opacity: 1;
}

.footer_bottom_menu {width:100%; padding:35px 0; clear: both;}
.footer_bottom_menu ul {height:20px;padding-top:5px; margin:0 auto; width:277px;}
.footer_bottom_menu ul li {padding:0 10px; float:left; text-align: center; height:10px; box-sizing: border-box; border-right: 1px solid rgb(98, 98, 104); line-height: 10px;}
.footer_bottom_menu ul li a {font-size:15px; color:#FFF; display: block; width:100%;  }
.footer_bold {font-family: 'Nanum Barun Gothic bold'!important;}
