.sub_hero_area {
    background:#293a85 url('../img/bg_02.png') center/cover no-repeat; 
}

.notice_wrap {width: 100%; margin-top:25px; overflow: hidden;}
.notice_cont_box {width: 48.5%; margin-right: 3%; padding:30px; padding-bottom: 0; box-sizing: border-box; margin-bottom:28px; height:240px; background:#FFF; float: left; cursor: pointer;}
.inquire_cont_box {width: 100%; padding:0 15px; box-sizing: border-box; cursor: pointer;overflow: hidden; }
div > .notice_cont_box:nth-child(2n) {margin-right: 0;}
.inquire_cont_wrap {background:#FFF; padding:15px;}
.notice_title {
    width:100%;
    padding-bottom:15px; 
    border-bottom:1px solid #ccc;
    }

.notice_title p {
    font-size: 25px;
    height:58px; 
    color:#000; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}
.notice_script {
    margin-top:15px;
    font-size: 18px;
    height:60px; 
    color:#333; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
.notice_date {text-align: right; font-size:15px; color:#999; margin-top:20px;}

.inquire_title {
    width:600px;
    border-bottom:1px solid #ccc;
    float: left;    
    text-overflow: ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    padding:15px 0;
    font-size:15px;
    color:#111;
    overflow: hidden;
}
.inquire_date {width:165px; text-align: right; float: right; padding:15px 0; font-size:15px; color:#999;border-bottom:1px solid #ccc;}

.pagination {width:100%; clear: both; padding-top:30px; text-align: center; margin-bottom:20px;}
.pagination ul {display:inline-block; ; box-sizing: border-box; overflow: hidden; }
.pagination ul li {width:20px; float: left; padding-right: 15px;}
.pagination ul li:last-child {padding-right: 0;}
.pagination ul li a {color:#333; text-align: center; font-size:15px; height:20px; width: 20px; display:block; line-height: 20px;}
.pagination ul li a img {width:20px;}
.inquiry_box {display: none;}
.pagination ul li a.active {font-weight: bold; color:#039be6!important;}
.notice_cont_box.active {background:#039be6;}
.no_data_text {
    padding-top: 100px;
    line-height: 25px;
    height: 150px;
    text-align: center;
}
.support_btn_box {
    margin-top:50px;
    width: 100%;
    overflow: hidden;
}
.reply_check_box {
    float: right; 
    width: 110px; 
    border-bottom:1px solid #ccc; 
    padding:10px 0; 
}
.reply_ok {width: 100%; font-size:15px; color:#FFF; background:#006cb5;text-align: center; padding:5px 0; border-radius: 3px;}
.reply_ing {width: 100%; font-size:15px; color:#FFF; background:#aaa;text-align: center; padding:5px 0; border-radius: 3px;}
.inquire_btn {
    position:absolute; 
    right: 0;
    bottom: 25px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 120px;
    color:#fff;
    background: #039be6;
    padding:10px 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
}
.support_write_btn{
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 120px;
    color:#fff;
    background: #039be6;
    padding:10px 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
}

.sub_cont_title_01 {position: relative;}
.notice_btn {
    position:absolute; 
    right: 0;
    bottom: 25px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    color:#fff;
    background: #039be6;
    padding:10px 12px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
}
.inquire_write_box {width:100%; background:#FFF; min-height: 450px;}
.inquire_write_title { width: 100%; background:#FFF; resize: none; padding:15px 10px 0 10px; height: 50px; box-sizing: border-box; font-size:18px; font-weight: bold; border: 1px solid #efefef; border-bottom: none;}
.inquire_write_text { width: 100%; background:#FFF; border: 1px solid #efefef; resize: none;line-height: 20px; height: 400px; padding:10px 15px; box-sizing: border-box; font-size:16px; font-weight: normal;}
.inquire_write_title::-webkit-scrollbar {width:5px; background:#f5f5f5;}
.inquire_write_title::-webkit-scrollbar-thumb {background: #ccc;} 
.inquire_write_text::-webkit-scrollbar {width:5px; background:#f5f5f5;}
.inquire_write_text::-webkit-scrollbar-thumb {background: #ccc;}

@keyframes box_active {
   to { background:#039be6; }
}

@keyframes p_active {
    to { color:#FFF; }
 }

.notice_cont_box:hover {
    animation: box_active .2s; animation-fill-mode: forwards; 

}
.notice_cont_box:hover p {
    animation: p_active .2s; animation-fill-mode: forwards;
}